.about {
	padding-top: 124px;
	.wrapper {
		padding-left: 16px;
		padding-right: 16px;
	}
}

.about__heading {
	margin: 0;
	padding: 0;
	@include header;
	padding-bottom: 5px;
    margin-bottom: 45px;
}

.about__text {
	font-weight: 300;
	font-size: 17px;
	line-height: 150%;
	color: #FFFFFF;
	margin-bottom: 28px;
}

.about__next-btn {
	display: none;
}

@media(min-width: 960px) {
	.about {
		height: 100vh;
		padding-top: 10%;
		box-sizing: border-box;
		position: relative;
		.wrapper {
			padding-left: 100px;
		}
	}
	.about__heading  {
		margin-bottom: 100px;
		display: inline-block;
	}
	.about__next-btn {
		display: block;
	}
}