.button-small {
	width: 108px;
	max-width: 108px;
	height: 34px;
	max-height: 34px;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: transparent;
	border: 2px solid #0DD1A2;
	border-radius: 2px;
	cursor: pointer;
	transition: background-color .3s;
	&:hover {
		background-color:  #0DD1A2;
	}
}

.button-primary {
	display: block;
	margin: 0 auto;
	width: 207px;
	height: 55px;
	box-sizing: border-box;
	background-color: #15B38D;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-left: 40px;
    padding-top: 5px;
	position: relative;
	transition: background-color .3s;
	&:before {
		content: '';
		position: absolute;
	    left: 34px;
    	top: 15px;
		background-image: url(../img/order-btn.svg);
		background-size: 25px 25px;
		width: 25px;
		height: 25px;
	}
	&:hover {
		background-color: #0DD1A2;
	}
}

.button-secondary {
	display: block;
	margin: 0 auto;
	width: 207px;
	height: 55px;
	box-sizing: border-box;
	background-color: transparent;
	border: 3px solid #15B38D;	
	border-radius: 3px;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-left: 42px;
    padding-top: 5px;
	position: relative;
	transition: background-color .3s, border .3s;
	&:before {
		content: '';
		position: absolute;
	    left: 45px;
    	top: 12px;
		background-image: url(../img/video-btn.svg);
		background-size: 25px 25px;
		width: 25px;
		height: 25px;
	}
	&:hover {
		background: #0DD1A2;
		border: 3px solid #0DD1A2;
	}
}


.button-arrow {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom:  20px;
	width: 15px;
	height: 7px;
	opacity: 0.5;
	transition: opacity .3s;
	&:hover {
		opacity: 1;
	}
}
