.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: -100%;
	left: 0;
	background-image: url(../img/menu-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity 0.3s;
	z-index: 20;
	&--opened {
		top: 0;
		opacity: 1;
	}
}

.modal__form {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    max-width: 500px;
    min-width: 300px;
    min-height: 355px;
    padding: 50px 35px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 25;
}

.modal__overlay {
	width: 100vw;
	height: 100vh;
	z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.modal__input-wrapper {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		right: 10px;
		top: 10px;
		width: 46px;
		height: 46px;
		right: 0;
		top: 0;
	}
	&--valid {
		&:after {
			background-image: url(../img/valid.png);
		}
	}
	&:valid {

	}
	&--invalid {
		&:after {
			background-image: url(../img/error.png);
		}
	}
}

.modal__fill-alert {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    font-size: 1em;
   	opacity: 0;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    &--opened {
    	 z-index: 100;
    	 opacity: 1;
    }
}
.modal__fill-alert-close {
    font-size: 1.5rem;
    position: absolute;
    right: -25px;
    top: -20px;
    width: 20px;
    height: 20px;
    opacity: .7;
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover {
    	opacity: 1;
    }
}

@media (min-width: 960px) {
	.modal {
		background: rgba(0,0,0, .8);
	}

	.modal__form {
		background-color: rgba(21, 179, 141, 0.3);
	}
	.modal__fill-alert {
		width: 400px;
	}
}