.questions {
    padding-top: 50px;
    background-color: #0D1117;
	.wrapper {
		padding-left: 16px;
	}
}

.questions__heading {
	@include header;
    width: 288px;
    margin-left: 8px;
	margin-top: 0;
	margin-bottom: 29px;	
	padding-bottom: 10px;
}


.questions__item {
	background-color: #fff;
	margin-bottom: 5px;
	&:last-of-type {
		margin-bottom: 40px;
	}
}

.questions__top-wrapper {
	display: flex;	
}


.questions__question {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 17px;
	line-height: 22px;
	color: #1C1C1C;
	opacity: 0.8;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 8px;
	margin-right: auto;
	transition: opacity 0.3s;
	&:hover {
		opacity: 1;
	}
}

.questions__answer-wrapper {
	height: 0;
	overflow: hidden;
	transition: height 0.3s; 
	&--opened {
		margin-top: 10px;
	    padding-left: 8px;
	    padding-bottom: 50px;
	}
}

.questions__answer {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: 15px;
	line-height: 22px;
	color: #1C1C1C;
	margin-bottom: 0;
}

@media (min-width: 960px) {
	.questions {
		box-sizing: border-box;
		background-color: transparent;
		min-height: 100vh;
		height: 100%;
		padding-top: 150px;
		position: relative;
		.wrapper {
			padding-left: 92px;
		}
	}
	@media only screen and (-o-min-device-pixel-ratio: 5/4),
   	only screen and (-webkit-min-device-pixel-ratio: 1.25),
   	only screen and (min--moz-device-pixel-ratio: 1.25),
   	only screen and (min-device-pixel-ratio: 1.25),
	only screen and (min-resolution: 1.25dppx) {
		.questions{
			&:after {
				background-image: url(../img/questions/boy@2x.png);
			}
		}
	}

	.questions__heading {
		width: auto;
		margin-left: -2px;
		margin-bottom: 31px;
		&:after {
			width: 105%;
		}
	}

	.questions__item {
		max-width: 904px;
		margin-bottom: 4px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.questions__question {
		font-size: 21px;
		line-height: 28px;
		padding-top: 17px;
		padding-left: 39px;
		padding-bottom: 27px;
		position: relative;
		&:before {
		    content: '';
		    position: absolute;
		    width: 8px;
		    height: 8px;
		    border-radius: 50%;
		    background-color: #0DD1A2;
		    top: 29px;
		    left: 20px;
		}
	}
	
	.questions__answer-wrapper {	
		max-width: 615px;	
		padding-left: 48px;

	}

	.questions__answer-wrapper--opened {
		padding-bottom: 58px;
	}
	
	.questions__answer {
		display: inline;
		&:first-of-type{
			margin-top: -6px;
		}
	}

}

@media(min-width: 1180px) {
	.questions {
	
		&:after {
			content: '';
			position: absolute;
			width: 235px;
			height: 264px;
			background-image: url(../img/questions/boy.png);
			background-size: 235px 264px;
			bottom: 0;
			right: 30px;
		}
	}
}