@mixin header {
	font-weight: 500;
	font-size: 28px;
	line-height: 32px;
	color: #FFFFFF;
    border-bottom: 3px solid #fff;
	@media (min-width: 960px) {
		font-weight: 500;
		font-size: 44px;
		line-height: 51px;
	}
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}