.wrapper {
	max-width: 1366px;
	margin: 0 auto;
	box-sizing: border-box;
	&--double {
		background-image: url(../img/about/about-bg.jpg);
		background-size: cover;
		background-attachment: fixed;
		max-width: 100%;
	}
}
@media only screen and (-o-min-device-pixel-ratio: 5/4),
   	only screen and (-webkit-min-device-pixel-ratio: 1.25),
   	only screen and (min--moz-device-pixel-ratio: 1.25),
   	only screen and (min-device-pixel-ratio: 1.25),
	only screen and (min-resolution: 1.25dppx) {
		.wrapper--double {
			background-image: url(../img/about/about-bg@2x.jpg);
		}
	}

@media (min-width: 960px) {
	.wrapper--double {
		background-image: url(../img/about/about-bg@desktop.jpg);
		position: relative;
	}
	@media only screen and (-o-min-device-pixel-ratio: 5/4),
   	only screen and (-webkit-min-device-pixel-ratio: 1.25),
   	only screen and (min--moz-device-pixel-ratio: 1.25),
   	only screen and (min-device-pixel-ratio: 1.25),
	only screen and (min-resolution: 1.25dppx) {
	.wrapper--double {
			background-image: url(../img/about/about-bg@desktop2x.jpg);
		}	
	}
}

